@model List<Hobby>
<h1>Hobbies</h1>

<table class="table table-striped table-bordered">
    <thead>
        <th>Name</th>
        <th>Enthusiasts</th>
    </thead>
    <tbody>
        @foreach(Hobby h in Model)
        {
            <tr>
                <td><a asp-controller="Hobby" asp-action="OneHobby" asp-route-hobbId="@h.HobbyId">@h.Name </a>
                </td>
                <td>@h.Enthusiast.Count</td>
            </tr>
        }
    </tbody>
</table>
<a href="/hobby/new"><button>Create a MeetUp</button></a>