<link rel="stylesheet" href="~/css/style.css">
<form action="userform" method="post">
    <div>
        <label for="name">Your Name:</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="location">Dojo Location</label>
        <select name="location" id="">
        <option value="Los Angeles">Los Angelse</option>
        <option value="New York">New York</option>
        <option value="Chicago">Chicago</option>
        </select>
    </div>
    <div>
        <label for="language">Favorite Language</label>
        <select name="language" id="">
        <option value="Python">Python</option>
        <option value="Java">Java</option>
        <option value="c#">C#</option>
        </select>
    </div>
    <div>
        <p>Comment: (optional)</p>
        <textarea name="comments" id="" cols="50" rows="5"></textarea>
    </div>
    <button>Submit</button>
</form>
