<h1>Submitted Info</h1>

<div>
    <label for="">Name:</label>
    @ViewBag.name
</div>
<div>
    <label for="">Location</label>
    @ViewBag.location
</div>
<div>
    <label for="">Language</label>
    @ViewBag.language
</div>
<div>
    <label for="">Comments</label>
    @ViewBag.comments
</div>
<a href="/">Go Back</a>