@model DojoSurvey.Models.User




<h1>Submitted Info</h1>
<h2>Nice-su</h2>
<p>Hello @Model.Name </p>
<p>From @Model.Location </p>
<p>who speaks  @Model.FavoriteLanguage </p>
<p> @Model.Comments </p>


