@model Hobby

<h1>Edit Hobby </h1>
<form asp-controller="Hobby" asp-action="UpdatedHobby" method="POST">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <span asp-validation-for="Name"class="text-danger font-weight-bold"></span>
        <input asp-for="Name" class="form-control" value="@Model.Name" />
    </div>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <span asp-validation-for="Description"class="text-danger font-weight-bold"></span>
        <input asp-for="Description" class="form-control" value="@Model.Description" />
    </div>
    <button>Update</button>
</form>