@model Hobby

<h1>Create a Hobby </h1>
<form asp-controller="Hobby" asp-action="CreateHobby" method="POST">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <span asp-validation-for="Name"class="text-danger font-weight-bold"></span>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <span asp-validation-for="Description"class="text-danger font-weight-bold"></span>
        <input asp-for="Description" class="form-control" />
    </div>
    <button>Create</button>
</form>